nav{
    background-color: rgb(200,248,248);
    padding: 10px 15px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    margin: 0 15px 0 0;
    display: inline-block;
}
a{
    color: orangered;
    font-size: 1.2em;
}